@font-face {
  font-family: 'VarelaRound';
  src: url('./assets/google-fonts/VarelaRound-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./assets/google-fonts/Ubuntu-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}