$color-default:   #f2f4f6;
$color-backstage-default: #f4f5f7;

$color-white:     #ffffff;
$color-black:     #000000;

$color-mask: rgba($color-black, 0.8);

// teal:
$color-teal-ddd:  #0e4532;
$color-teal-dd:   #1b6b4c; // click
$color-teal-d:    #2c9167; // hover
$color-teal:      #41b883; // btn
$color-teal-l:    #64c496;
$color-teal-ll:   #8cd1ad;
$color-teal-lll:  #b8dec9; // disabled

// gray:
$color-gray-ddd:  #0d0d0d; // disabled
$color-gray-dd:   #343434;
$color-gray-d:    #5a5a5a;
$color-gray:      #808080; // btn
$color-gray-l:    #a6a6a6; // hover
$color-gray-ll:   #cdcdcd; // click
$color-gray-lll:  #f3f3f3;

$color-paypal: #003087;
$color-github: #333;
$color-npm: #cb3837;
$color-linkedin: #0077b5;
$color-wordpress: #0073AA;
$color-email: #D44638;

// primary
$color-primary-ddd: $color-teal-ddd;
$color-primary-dd:  $color-teal-dd;
$color-primary-d:   $color-teal-d;
$color-primary:     $color-teal;
$color-primary-l:   $color-teal-l;
$color-primary-ll:  $color-teal-ll;
$color-primary-lll: $color-teal-lll;
