$border-radius-f: 99px;
$border-radius-lg: 0.1rem;
$border-radius-md: 0.5rem;
$border-radius-sm: 0.25rem;

@mixin radius($value) {
  border-radius: $value;
}
@mixin radius-t($value) {
  border-top-left-radius: $value;
  border-top-right-radius: $valuef;
}
@mixin radius-r($value) {
  border-top-right-radius: $value;
  border-bottom-right-radius: $value;
}
@mixin radius-b($value) {
  border-bottom-left-radius: $value;
  border-bottom-right-radius: $value;
}
@mixin radius-l($value) {
  border-top-left-radius: $value;
  border-bottom-left-radius: $value;
}

// full
@mixin radius-full {
  @include radius($border-radius-f);
}
@mixin radius-full-t {
  @include radius-t($border-radius-f);
}
@mixin radius-full-r {
  @include radius-r($border-radius-f);
}
@mixin radius-full-b($value) {
  @include radius-b($border-radius-f);
}
@mixin radius-full-l($value) {
  @include radius-l($border-radius-f);
}

// lg
@mixin radius-lg {
  @include radius($border-radius-lg);
}
@mixin radius-lg-t {
  @include radius-t($border-radius-lg);
}
@mixin radius-lg-r {
  @include radius-r($border-radius-lg);
}
@mixin radius-lg-b {
  @include radius-b($border-radius-lg);
}
@mixin radius-lg-l {
  @include radius-l($border-radius-lg);
}

// md
@mixin radius-md {
  @include radius($border-radius-md);
}
@mixin radius-md-t {
  @include radius-t($border-radius-md);
}
@mixin radius-md-r {
  @include radius-r($border-radius-md);
}
@mixin radius-md-b {
  @include radius-b($border-radius-md);
}
@mixin radius-md-l {
  @include radius-l($border-radius-md);
}

// sm: primary
@mixin radius-sm {
  @include radius($border-radius-sm);
}
@mixin radius-sm-t {
  @include radius-t($border-radius-sm);
}
@mixin radius-sm-r {
  @include radius-r($border-radius-sm);
}
@mixin radius-sm-b {
  @include radius-b($border-radius-sm);
}
@mixin radius-sm-l {
  @include radius-l($border-radius-sm);
}