*, 
*::after, 
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

html
{
  color: var(--color_gray-ddd);
  font-size: 16px;
}

html,
input, 
button {
  font-family: 'VarelaRound', sans-serif, Arial, 'Times New Roman', Times, serif, 'PingFang TC', 'Microsoft JhengHei';
}

pre {
  font-family: 'Ubuntu', sans-serif, Arial, 'Times New Roman', Times, serif, 'PingFang TC', 'Microsoft JhengHei';
}

body {
  height: 100%;
  overflow: hidden;
}

body, 
div, 
p, 
ul {
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: var(--color_gray); 
}
a:hover {
  color: var(--color_primary);
}