*, 
*::after, 
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

html
{
  @include font-md;
  color: $color-gray-ddd;
}

html,
input, 
button {
  font-family: 'VarelaRound', sans-serif, Arial, 'Times New Roman', Times, serif, 'PingFang TC', 'Microsoft JhengHei';
}

pre {
  font-family: 'Ubuntu', sans-serif, Arial, 'Times New Roman', Times, serif, 'PingFang TC', 'Microsoft JhengHei';
}

html,
body {
  height: 100%;
}

body, 
div, 
p, 
ul {
  margin: 0;
  padding: 0;
}

a {
  &.inline-link {
    @include margin-l($margin-md);
  }

  &:link,
  &:visited {
    color: $color-gray;
  }

  &:hover {
    color: $color-primary;
  }
}