.page_table.btb-vue-table {
  margin-bottom: 1rem;
  overflow: auto;

  .btb-vue-table-list,
  .btb-vue-table-info,
  .btb-vue-table-compare {
    th {
      @include border-solid(2px);
      padding: 0.25rem 1rem;
      background-color: $color-primary-lll;
      border-color: $color-primary-lll;
    }

    td {
      @include border-solid(2px);
      padding: 0.25rem 1rem;
      border-color: $color-primary-lll;

      &.td-title {
        white-space: nowrap;
      }

      &.td-type {
        text-align: center;
        white-space: nowrap;
      }

      &.td-props {
        text-align: center;
        white-space: nowrap;
      }

      &.td-type {
        text-align: center;
      }

      &.td-default {
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

.table_sample.btb-vue-table {
  background-color: $color-white;

  th.tr_th {
    @include padding-sm-y;
    @include padding-md-x;
    background-color: $color-primary-lll;
  }

  td.tr_td {
    @include padding-sm-y;
    @include padding-md-x;
    text-align: center;
  }

  .btb-vue-table-list {
    td.tr_td.td-name {
      text-align: left;
    }
  }
}

.page_node_tree.btb-vue-list {
  padding: 0.5rem 1rem;
  background-color: $color-primary-lll;

  .entry_title {
    padding: 0.25rem 0;
  }
}