.page_table.btb-vue-table {
  margin-bottom: 1rem;
  .table_container {
    th {
      @include border-solid(2px);
      padding: 0.25rem 1rem;
      background-color: $color-primary-lll;
      border-color: $color-primary-lll;
    }
    td {
      @include border-solid(2px);
      padding: 0.25rem 1rem;
      border-color: $color-primary-lll;
      &.td-title {
        white-space: nowrap;
      }
      &.td-type {
        text-align: center;
      }
      &.td-default {
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}

.page_node_tree.btb-vue-list {
  padding: 0.5rem 1rem;
  background-color: $color-primary-lll;
  .entry_title {
    padding: 0.25rem 0;
  }
}